

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 1px;
  }

  #button-home{
      font-size: 100%;
  }

  button{
      font-size: medium;
  }