<mat-toolbar color="warn">
    <mat-toolbar-row>
        <span style="font-size: 90%;">Funcionario</span>
    </mat-toolbar-row>
</mat-toolbar>

<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome" >
</div>

<div id="cpf">
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" [(ngModel)]="cpf">
</div>

<div id="setorId">
    <label for="setorId">Setor</label>
    <select name="setorId" [(ngModel)]="setorId">
        <option value="{{s.setorId}}" *ngFor="let s of isSetores">{{s.nomeSetor}}</option>
    </select>
</div>

<div id="botaoCadastrar">
    <button *ngIf="!id" (click)="create()">Salvar</button>
</div>
<div id="botaoAlterar">
    <button *ngIf="id" (click)="alterar()">Alterar</button>
</div>