
<mat-toolbar color="warn">
    <mat-toolbar-row>
        <span style="font-size: 90%;">Funcionario</span>
    </mat-toolbar-row>
</mat-toolbar> <br>
<mat-card>

    <mat-form-field appearance="fill">
        <mat-label for="nome">Nome</mat-label>
        <input matInput name="nome" [(ngModel)]="nome">
    </mat-form-field> <br>

    <mat-form-field appearance="fill">
        <mat-label for="cpf">CPF</mat-label>
        <input matInput name="cpf" [(ngModel)]="cpf">
    </mat-form-field> <br>
    <mat-form-field appearance="fill">
        <mat-label for="setorId">Setor</mat-label>
        <mat-select name="setorId" [(ngModel)]="setorId">
          <mat-option *ngFor="let s of isSetores" [value]="s.setorId">
            {{s.nomeSetor}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <div id="botaoCadastrar">
        <button mat-raised-button *ngIf="!id" (click)="create()">Salvar</button>
    </div>
    <div id="botaoAlterar">
        <button mat-raised-button *ngIf="id" (click)="alterar()">Alterar</button>
    </div>
</mat-card>