<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span style="font-size: 90%;">Listar Funcionarios</span>
    </mat-toolbar-row>
</mat-toolbar>
<!-- primary accent warn
<ol>
    <li *ngFor="let f of funcionarios">
        {{ f.nome }}
    </li>
</ol>
-->
<table mat-table [dataSource]="funcionarios" >

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > # </th>
        <td mat-cell *matCellDef="let f" >{{ f.id }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let f">{{ f.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let f">{{ f.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="criadoEm">
        <th mat-header-cell *matHeaderCellDef> DATA CADASTRO </th>
        <td mat-cell *matCellDef="let f">  {{ f.criadoEm | date: "dd/MM/yyyy HH:mm:ss" }}</td>
    </ng-container>

    <ng-container matColumnDef="runs">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let f">
            <a routerLink="/funcionario/update/{{ f.id }}" style="padding-right: 2%;"><button mat-mini-fab color="primary"><mat-icon>edit</mat-icon></button></a>
            <a routerLink="/funcionario/delete/{{ f.id }}"><button mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button></a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>