.list-horizontal {
    display: flex;
    flex-direction: row;
   }

button{
    display: flexbox;
}

.mat-column-id {
    width: 32px;
    font-weight: bold;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}