<mat-toolbar color = "accent"><a routerLink="">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>
            code
        </mat-icon>
    </button></a>
    <span >
        <a routerLink="">
           Computadores
        </a>
    </span>
  <span class="example-spacer"></span>
  <a routerLink="/computador/cadastrar">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>
        queue_play_next
    </mat-icon>
  </button></a>
</mat-toolbar>
